#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#app .ant-layout-header {
  line-height: 1.5;
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  z-index: 10;
}

#app .ant-layout-content {
  background: #fff;
  color: #0d1a26;
  min-height: 480px;
  /* line-height: 120px; */
}

#app>.ant-layout {
  margin-bottom: 48px;
}

#app>.ant-layout:last-child {
  margin: 0;
}